google-cloud-texttospeech==2.14.1
gTTS==2.3.2
jupyterlab==4.0.2
keras==2.13.1
moviepy[optional]==1.0.3
numpy==1.23.3
pandas==2.0.2
pdf2image==1.16.3
pillow==9.3.0
plotly==5.15.0
pyotp==2.8.0
python-pptx==0.6.21
PyVimeo==1.1.0
seaborn==0.12.2
selenium==4.10.0
tensorflow==2.13.0
tqdm==4.64.1
webdriver_manager==3.8.3
